extends ../layout/main

block variables
  - const pageTitle = 'ГНБ БУРЕНИН'

block content
  .main-block(style='background-image: url(../media/image/single.jpg);')
    img.decor(src='../media/icon/rect2.svg' alt='rect')
    .container
      .row
        .col-12.col-lg-6
          h1.main-block__title ГНБ бурение
          .main-block__desc Горизонтально направленное бурение успешно применяется в прокладке подземных коммуникаций.
          .main-button.main-button--color.main-block__button Заказать услугу

  include ../modules/single-services/calc

  include ../modules/single-services/table-price

  .about-service
    .container
      .row
        .col-6
          .about-service__title.decor-title Об услуге
          .about-service__desc Метод горизонтально-направленного бурения используется в различных целях:
          .about-service__list-item Прокладка трубо-, газопроводов, электрических кабелей и других коммуникаций к зданиям
          .about-service__list-item Формирование скважин для добычи нефти и других полезных ископаемых;
          .about-service__list-item Замена устаревших коммуникаций и оборудования;
          .about-service__list-item Обустройство подземных магистралей.
        .col-6.col-lg-3
          img.about-service__image.about-service__image--first(alt='img' src='../media/image/some-pick1.jpg')
        .col-6.col-lg-3
          img.about-service__image(alt='img' src='../media/image/some-pick2.jpg')


  include ../modules/main-form