footer.footer
  .container
    .row
      .col-3
        a.footer__logo(href='/') Couponation
        a.footer__small-link(href='#') Terms and conditions
        a.footer__small-link(href='#') Privacy policy
        .footer__coop Copyright © 2020 Couponation
      .col-2
        .footer__title Coupons
        a.footer__link(href='#') New coupons
        a.footer__link(href='#') Coupons of the day
        a.footer__link(href='#') Trusted coupons
      .col-2
        .footer__title Categories
        a.footer__link(href='#') Accessories
        a.footer__link(href='#') Beauty
        a.footer__link(href='#') Fashion
        a.footer__link(href='#') Health
        a.footer__link(href='#') Clothing
        a.footer__link(href='#') Makeup
      .col-2
        .footer__title Stores
        a.footer__link(href='#') Nike
        a.footer__link(href='#') Zazzle
        a.footer__link(href='#') Groupon
        a.footer__link(href='#') Amazon UK
        a.footer__link(href='#') Ebay UK
        a.footer__link(href='#') GoDaddy
      .col-3
        .footer__title Contacts
        a.footer__link(href='mailto:hello@couponation.com') hello@couponation.com
        .footer__social
          a.social__link(href='https://www.instagram.com/' target='_blank' style='background: url(./media/icon/social/inst.svg)')
          a.social__link(href='https://twitter.com/' target='_blank' style='background: url(./media/icon/social/twitter.svg)')
          a.social__link(href='https://www.facebook.com/' target='_blank' style='background: url(./media/icon/social/facebook.svg)')
        .footer__btn( onClick="location.href='./map.html';") Contact us
        .footer__btn.footer__btn--submit Submit a coupon
    