include ../mixins/cardStore

.main-slider
  .container
    .row
      .col-12
        .main-slider__title=mainSliderTitle
        .main-slider__body.owl-carousel.owl-theme
          +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
          +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
          +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
          +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
          +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
          +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")