.container
  .row
    .col-12
      .small-form
        .small-form__text
          .title Get top offers and save money
          .desc Offers only valid coupons while you shop online
        form.small-form__form
          .placeholder Enter your Email here
          input(type='email')
          input(type='submit' value='')