@import '_var';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 36px 0 36px;
  background-color: #333;
  margin-right: 36px;

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 36px;

    &::after {
      content: '';
      width: 1px;
      height: 48px;
      background: rgba(255, 255, 255, 0.2);
    }

    .logo__img {
      width: 62.35px;
      min-width: 62.35px;
      height: 72px;
      object-fit: contain;
      object-position: center;
      display: block;
      margin-right: 13px;
    }

    .logo__text {
      max-width: 145px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 35px;
    }
  }

  &__nav {
    ul {
      display: flex;

      li {
        list-style: none;
        margin-right: 36px;
        display: block;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-family: $family-second;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          position: relative;
          z-index: 2;
        }

        &.active {
          &::before {
            content: '';
            width: calc(100% + 4px);
            height: 8px;
            background-color: $yellow-main;
            bottom: 0;
            left: -2px;
            position: absolute;
            z-index: 1;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__number {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #FFFFFF;
  }

  .main-button {
    margin-left: 36px;
  }
}