.alphabet
  .alphabet-title Find store by name
  .alphabet-block
    a(href="./single-store.html").alphabet-item A
    a(href="./single-store.html").alphabet-item B
    a(href="./single-store.html").alphabet-item C
    a(href="./single-store.html").alphabet-item D
    a(href="./single-store.html").alphabet-item E
    a(href="./single-store.html").alphabet-item F
    a(href="./single-store.html").alphabet-item G
    a(href="./single-store.html").alphabet-item H
    a(href="./single-store.html").alphabet-item I
    a(href="./single-store.html").alphabet-item J
    a(href="./single-store.html").alphabet-item K
    a(href="./single-store.html").alphabet-item L
    a(href="./single-store.html").alphabet-item M
    a(href="./single-store.html").alphabet-item N
    a(href="./single-store.html").alphabet-item O
    a(href="./single-store.html").alphabet-item P
    a(href="./single-store.html").alphabet-item Q
    a(href="./single-store.html").alphabet-item R
    a(href="./single-store.html").alphabet-item S
    a(href="./single-store.html").alphabet-item T
    a(href="./single-store.html").alphabet-item U
    a(href="./single-store.html").alphabet-item V
    a(href="./single-store.html").alphabet-item W
    a(href="./single-store.html").alphabet-item X
    a(href="./single-store.html").alphabet-item Y
    a(href="./single-store.html").alphabet-item Z
    a(href="./single-store.html").alphabet-item #