.container
  .row
    .col-12
      .extansion-block
        .small-form__text
          .title Couponation Chrome extension
          .desc No more coupons searches – we've got a solution
        .extension__bottom
          a.extension__link(href='#') Add to Chrome
          .extension__rate
            img.starts(alt='stars' src='./media/icon/stars.svg')
            .text Over 5,000 5-star ratings in Chrome store