.aside
  h3 About the shop
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum non ligula vitae aliquam. Donec ut ullamcorper quam. Donec felis ante, acc...
    a(href="#") Read more
  .aside-block
    .aside-item
      p Coupons available
      .number 47
    .aside-item
      p New deals
      .number 4
    .aside-item
      p Coupons available
      .number 30% of
    .aside-item
      p Coupons available
      .number $10,99
    .aside-item
      p Last updated
      .number May 14, 2020
    .aside-item
      p Update period
      .number 7 days

.aside-top-store
  h3 Similar top stores
  .stores-wrap
    .store-item
      .store-icon
        img(src="../../media/icon/logos/1.png", alt="image")
      .store-info
        p Kohl's
        p 21 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/logos/2.png", alt="image")
      .store-info
        p Travelocity
        p 19 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/logos/3.png", alt="image")
      .store-info
        p RedBubble
        p 21 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/logos/2.png", alt="image")
      .store-info
        p Kohl's
        p 21 active coupons
  button Show more 

.aside-category
  h3 Similar categories
  .stores-wrap
    .store-item
      .store-icon
        img(src="../../media/icon/category/cosmetic.svg", alt="image")
      .store-info
        p Accessories
        p 21 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/category/flowers.svg", alt="image")
      .store-info
        p Beauty
        p 19 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/category/hair.svg", alt="image")
      .store-info
        p RedBubble
        p 21 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/category/skin.svg", alt="image")
      .store-info
        p Clothing
        p 21 active coupons
    .store-item
      .store-icon
        img(src="../../media/icon/category/heart.svg", alt="image")
      .store-info
        p Makeup
        p 21 active coupons    
