.shop-acc
  ul
    li.dropdown.Drop
      input(type="checkbox")
      button(data-toggle="dropdown") How often does Best Buy release a new coupon codes?
        img.plus(src="../../media/icon/plus.svg", alt="icon" )
        img.minus(src="../../media/icon/minus.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum non ligula vitae aliquam. Donec ut ullamcorper quam. Donec felis ante, accumsan non vehicula a, suscipit nec tortor. Vestibulum feugiat volutpat leo id faucibus. Integer euismod, tortor sit amet laoreet varius, ex ipsum cursus magna, sit amet ullamcorper ex lectus id odio. Morbi dignissim volutpat faucibus. Mauris porttitor tincidunt magna rhoncus euismod. Nulla ac ex turpis. Nam in diam non felis sodales varius. Phasellus condimentum felis interdum ligula porta faucibus.
    li.dropdown.Drop
      input(type="checkbox")
      button(data-toggle="dropdown") How often does Best Buy release a new coupon codes?
        img.plus(src="../../media/icon/plus.svg", alt="icon" )
        img.minus(src="../../media/icon/minus.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum non ligula vitae aliquam. Donec ut ullamcorper quam. Donec felis ante, accumsan non vehicula a, suscipit nec tortor. Vestibulum feugiat volutpat leo id faucibus. Integer euismod, tortor sit amet laoreet varius, ex ipsum cursus magna, sit amet ullamcorper ex lectus id odio. Morbi dignissim volutpat faucibus. Mauris porttitor tincidunt magna rhoncus euismod. Nulla ac ex turpis. Nam in diam non felis sodales varius. Phasellus condimentum felis interdum ligula porta faucibus.    
    li.dropdown.Drop
      input(type="checkbox")
      button(data-toggle="dropdown") How often does Best Buy release a new coupon codes?
        img.plus(src="../../media/icon/plus.svg", alt="icon" )
        img.minus(src="../../media/icon/minus.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum non ligula vitae aliquam. Donec ut ullamcorper quam. Donec felis ante, accumsan non vehicula a, suscipit nec tortor. Vestibulum feugiat volutpat leo id faucibus. Integer euismod, tortor sit amet laoreet varius, ex ipsum cursus magna, sit amet ullamcorper ex lectus id odio. Morbi dignissim volutpat faucibus. Mauris porttitor tincidunt magna rhoncus euismod. Nulla ac ex turpis. Nam in diam non felis sodales varius. Phasellus condimentum felis interdum ligula porta faucibus.
    li.dropdown.Drop
      input(type="checkbox")
      button(data-toggle="dropdown") How often does Best Buy release a new coupon codes?
        img.plus(src="../../media/icon/plus.svg", alt="icon" )
        img.minus(src="../../media/icon/minus.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum non ligula vitae aliquam. Donec ut ullamcorper quam. Donec felis ante, accumsan non vehicula a, suscipit nec tortor. Vestibulum feugiat volutpat leo id faucibus. Integer euismod, tortor sit amet laoreet varius, ex ipsum cursus magna, sit amet ullamcorper ex lectus id odio. Morbi dignissim volutpat faucibus. Mauris porttitor tincidunt magna rhoncus euismod. Nulla ac ex turpis. Nam in diam non felis sodales varius. Phasellus condimentum felis interdum ligula porta faucibus.                    
   
  